{
	"volumeStepsUpDown": {
		"defaultValue": 6,
		"dataType": "integer",
		"isSensitive": false,
		"description": "How many step in percent the volume increase/decrease.",
		"onUpdate": "setVolumeStepsUpDown"
	}
}
