/**
MultiRoomRadioManager widget ramme er widgth 689 x heigth 489
MultiRoomMediaVolume widget ramme widgth 380 x heigth 489

.MultiRoomRadioManager_radio {
  display: none;
	width: 690px;
	height: 450px;
}

.MultiRoomMediaVolume_controls {
  display: block;
	width: 375px;
	height: 450px;
	background-color: coral;
}


*/


.MultiRoomMediaVolume {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
}


.MultiRoomMediaVolume_controls {
  display: block;
	width: 375px;
	height: 450px;
/*	background-color: coral; */
	background-color: var(--mainBG);
}

h1, .MultiRoomMediaVolume_explanation {
	color: #FF4000;
	font-size: 28px;
	font-family: 'Signika',	sans-serif;
	line-height: 0.3;
	padding-bottom: 0px;
	text-align: center;
}


.blinking {
	color: red;
	width: 20%;
	height: 20%;
	font-size: 14px;
	font-family: 'Signika',	sans-serif;
	line-height: 0.3;
	padding-bottom: 0px;
	/*align: center;*/
	margin: auto;
  -webkit-animation: blinkRed 3.0s infinite;
}


.blink_me {
	color: #00FFFF;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


p, .MultiRoomMediaVolume_explanation {
	color: #FFFF80;
	font-family: 'Helvetica Neue',	sans-serif; font-size: 14px;
	line-height: 1.3;
	margin: 0 0 0 0;
	text-align: justify;
	text-justify: inter-word;
}

.MultiRoomMediaVolume_explanation {
  display: none;
}

.MultiRoomMediaVolume_img {
  display: none;
	width: 50%;
	height: 50%;"
}

